# Secret
NEXT_PUBLIC_MONGODB_URI=
NEXT_PUBLIC_GOOGLE_MAP_API_KEY=

# Database names
NEXT_PUBLIC_CELEBRITIES_DB=
NEXT_PUBLIC_SENTENCES_DB=
NEXT_PUBLIC_GAMES_DB=

# Database collections
NEXT_PUBLIC_CELEBRITIES_COLLECTION=
NEXT_PUBLIC_SENTENCES_COLLECTION=
NEXT_PUBLIC_GAMES_COLLECTION=

# Websocket backend URL
NEXT_PUBLIC_WEBSOCKET_URL=