# Secret
NEXT_PUBLIC_MONGODB_URI=
NEXT_PUBLIC_GOOGLE_MAP_API_KEY=
INTERNAL_API_SECRET=

# Database names
NEXT_PUBLIC_CELEBRITIES_DB=celebritiesDB
NEXT_PUBLIC_SENTENCES_DB=sentencesDB
NEXT_PUBLIC_GAMES_DB=gamesDB

# Database collections
NEXT_PUBLIC_CELEBRITIES_COLLECTION=celebrities
NEXT_PUBLIC_SENTENCES_COLLECTION=sentences
NEXT_PUBLIC_GAMES_COLLECTION=games

# Websocket backend URL
NEXT_PUBLIC_WEBSOCKET_URL=

# Redis HTTPS
NEXT_PUBLIC_UPSTASH_REDIS_REST_URL=
NEXT_PUBLIC_UPSTASH_REDIS_REST_TOKEN=