
# Env
NODE_ENV=

#################
## Client side ##
#################

# Secret
NEXT_PUBLIC_GOOGLE_MAP_API_KEY=

# Websocket backend url
NEXT_PUBLIC_WEBSOCKET_BACKEND_URL=

# Google
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

#################
## Server side ##
#################

# Rest backend URL
REST_BACKEND_URL=
