# Secret
NEXT_PUBLIC_MONGODB_URI=
NEXT_PUBLIC_GOOGLE_MAP_API_KEY=

# Database names
NEXT_PUBLIC_CELEBRITIES_DB=celebritiesDB
NEXT_PUBLIC_SENTENCES_DB=sentencesDB
NEXT_PUBLIC_GAMES_DB=gamesDB

# Database collections
NEXT_PUBLIC_CELEBRITIES_COLLECTION=celebrities
NEXT_PUBLIC_SENTENCES_COLLECTION=sentences
NEXT_PUBLIC_GAMES_COLLECTION=games

# Backend URLs
NEXT_PUBLIC_REST_BACKEND_URL=
NEXT_PUBLIC_WEBSOCKET_BACKEND_URL=