###################
## Server config ##
###################
PORT=4000
CORS_ORIGIN=http://localhost:3000,http://localhost:3001
FRONTEND_URL=http://localhost:3000

#################
## Auth config ##
#################
JWT_ACCESS_SECRET=access_token_secret
JWT_REFRESH_SECRET=refresh_token_secret
GOOGLE_CLIENT_ID=

###########################
## Upstash configuration ##
###########################
UPSTASH_REDIS_URL=

#####################
## Supabase config ##
#####################
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

#######################
## Brevo SMTP config ##
#######################
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=
BREVO_SMTP_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=CityBorn

#####################
## Admin dashboard ##
#####################
ADMIN_DASHBOARD_TOKEN=token
