RESTORE_B2_BUCKET=
RESTORE_B2_ENDPOINT=
RESTORE_B2_PREFIX=cityborn
RESTORE_B2_KEY_ID=
RESTORE_B2_APPLICATION_KEY=

RESTORE_STAGING_PROJECT_REF=
RESTORE_STAGING_DB_URL=
RESTORE_STAGING_SSL_ROOT_CERT=
RESTORE_PRODUCTION_PROJECT_REF=
RESTORE_PRODUCTION_DB_URL=
RESTORE_PRODUCTION_SSL_ROOT_CERT=
