###################
## Server config ##
###################
PORT=3001
CORS_ORIGIN=*

#################
## Auth config ##
#################
JWT_SECRET=

############################
## Mongo DB configuration ##
############################
# URI
MONGODB_URI=
MONGODB_GUESS_OBJECTS_URI=
MONGODB_SENTENCES_URI=
MONGODB_GAMES_URI=

# Database collections
GUESS_OBJECTS_COLLECTION=celebrities
SENTENCES_COLLECTION=sentences
GAMES_COLLECTION=games

###########################
## Upstash configuration ##
###########################
UPSTASH_REDIS_URL=

#####################
## Supabase config ##
#####################
DATABASE_URL=
DIRECT_URL=