# Environment type
APP_VARIANT=

# Backend
EXPO_PUBLIC_REST_BACKEND_URL=
EXPO_PUBLIC_WEBSOCKET_BACKEND_URL=

# Google OAuth
EXPO_PUBLIC_GOOGLE_OAUTH_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_OAUTH_IOS_CLIENT_ID=

# Google Maps
GOOGLE_MAPS_ANDROID_API_KEY=
GOOGLE_MAPS_IOS_API_KEY=