# Required build values
APP_VARIANT=development
GOOGLE_MAPS_ANDROID_API_KEY=
GOOGLE_MAPS_IOS_API_KEY=

# Required client values
EXPO_PUBLIC_REST_BACKEND_URL=http://<local_ip>:4000
EXPO_PUBLIC_WEBSOCKET_BACKEND_URL=ws://<local_ip>:4000
EXPO_PUBLIC_GOOGLE_OAUTH_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_OAUTH_IOS_CLIENT_ID=
